<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456516364657-6r1sl3rh9tmumr7vsnr1odcdrjs8sqdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456516364657-6r1sl3rh9tmumr7vsnr1odcdrjs8sqdl</string>
	<key>API_KEY</key>
	<string>AIzaSyA2dcmFgAv8lx4yQNlQShTyDXKK66ySha4</string>
	<key>GCM_SENDER_ID</key>
	<string>456516364657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.rabee.lightning.inhouse</string>
	<key>PROJECT_ID</key>
	<string>staging-push-rabee-jp</string>
	<key>STORAGE_BUCKET</key>
	<string>staging-push-rabee-jp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456516364657:ios:27b7b6e750be70d9</string>
	<key>DATABASE_URL</key>
	<string>https://staging-push-rabee-jp.firebaseio.com</string>
</dict>
</plist>