<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>26048261899-u1d5t3mcaqjt9lt8bubcm4du2r7c8m8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26048261899-u1d5t3mcaqjt9lt8bubcm4du2r7c8m8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDgLF0Ew6SY7E1prPdktaGGPJpY9unbY1c</string>
	<key>GCM_SENDER_ID</key>
	<string>26048261899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.rabee.develop</string>
	<key>PROJECT_ID</key>
	<string>beego-thehero-jp</string>
	<key>STORAGE_BUCKET</key>
	<string>beego-thehero-jp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26048261899:ios:2c6dd0c8ce90c2c0</string>
	<key>DATABASE_URL</key>
	<string>https://beego-thehero-jp.firebaseio.com</string>
</dict>
</plist>